@page "/admin"
@using System.Text.Json

@{
    var props = new AboutProps { Permission = "admin" };
    var serializedProps = JsonSerializer.Serialize(props);
}

<h1>Pass Parameters to Lit Component</h1>

<LitComponent ScriptName="Admin/MyAdmin">
    <my-admin props='@serializedProps'></my-admin>
</LitComponent>

@code {
    public class AboutProps {
        public string Permission { get; set; } = "admin";
    }
}
